* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#gameTemplate {
    display: inline-grid;
    grid-template-columns: 30vw 30vw;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#gameTemplate span {
    height: 12vh;
    width: 12vh;
    border: 5px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

#gameTemplate span:hover {
    background-color: #eee;
}

#gameTemplate span img {
    height: 100%;
    max-height: 12vh;
}

#templateBoard {
    width: 15vh;
    height: 15vh;
    margin: 1vh auto;
    padding: 5px;
    background-color: #efefef;
    color: #fff;
    border: 6px solid #9e9e9e;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    float: left;
}

#templateBoard div {
    border-radius: 50%;
}

#templateBoard div.blue, #gameTemplate div.green, #gameTemplate div.yellow, #gameTemplate div.red {
    border: 1px solid #000;
}

#game {
    width: 60vh;
    height: 60vh;
    /* max-width: 80vw;
    max-height: 70vh; */
    margin: 1vh auto;
    padding: 5px;
    background-color: #acacac;
    color: #fff;
    border: 6px solid #9e9e9e;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    clear: both;
}

#game div {
    border-radius: 50%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div:is(#EMPTY) {
    font-size: 3.8em;
    animation: arrow-position-animation 1000ms linear 0s infinite;
}

#game div:not(#EMPTY) {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

div.disabled {
    cursor: default;
}

div.blue {
    background-color: #738fff;
}

div.red {
    background-color: #ce0000;
}

div.green {
    background-color: #12c702;
}

div.yellow {
    background-color: #f0fc05;
}

#game div.ball-allow-movement:hover {
    transform: scale(.97);
    border: 3px solid #ffc;
}

#game div.ball-allow-movement {
    animation: ball-allow-movement-animation 1500ms linear 0s infinite;
}

.button-wrapper {
    text-align: center;
    margin: 20px auto;
}

.button-restart {
    width: 300px;
    height: 70px;
    font-size: 2em;
    color: #000;
    background-color: #ccc;
    text-align: center;
    margin: 0 auto;
    display: none;
}

.visible {
    display: block;
}

.disabled {
    pointer-events: none;
}

.disable-animation {
    animation: none !important;
}

@keyframes arrow-position-animation{
    0%{
        transform: scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}


@keyframes ball-allow-movement-animation{
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 1px rgba(0,0,0,0.2)
    }
    50%{
        transform:scale(1.03);
        box-shadow: 0 0 0 3px rgba(0,0,0,0.1)
    }
    100%{
        transform:scale(1);
        box-shadow: 0 0 0 5px rgba(0,0,0,0)
    }
}