* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #e0e9f2;
    font-family: 'Luckiest Guy', cursive;
}

path {
    fill: transparent;
}

#boardgame {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

img, p {
    user-select: none;
    pointer-events: none;
}

.card {
    width: 230px;
    height: 230px;
    margin: 5px;
    position: relative;
    border-radius: 5px;
    background: #223d67;
    border: 7px solid #192652;
    transform-style: preserve-3d;
    transition: .5s;
    cursor: pointer;
}

.card:active {
    transform: scale(0.97);
}

.card.hidden-card {
    transform: rotateY(180deg);
}

.card-front-face,
.card-back-face {
    width: 100%;
    height: 100%;
    min-width: 170px;
    text-align: center;
    padding: 20px;
    background: #223d67;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
}

.card-back-face {
    background: #f12f29;
    color: #1e1e1e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
}

.card-front-face {
    transform: rotateY(180deg);
    color: #ffcc00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3c5fa7;    
    text-shadow: -2px 3px 0 #182c5f;
}

.card-back-face img {
    width: 95%;
}

.card-front-face img {
    width: 50%;
    margin-top: 20%;
    border-radius: 50%;
    background: transparent;
    border: none;
    box-shadow: -3px 5px 5px #192652;
}

#matched-animation {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    display: none;
    background-color: transparent;
    filter: drop-shadow(0px 0px 40px #fff);
}

.display {
    display: block !important;
}